<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Wallapop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}">

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Wallapop</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active">
						<a th:href="@{/}">Inicio</a></li>
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/my-products}">Mis Productos</a>
					</li>
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/my-purchases}">Mis Compras</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/shopping-cart}"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a>
					</li>
					<li sec:authorize="!isAuthenticated()">
						<a th:href="@{/auth/login}"><span class="glyphicon glyphicon-user"></span> Login</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
							<span th:text="${#authentication == null ? 'Menú' : #authentication.name}">Menú</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a
								href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
							</li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Buscar..."
						name="name" th:value="${param.name}">
				</form>
			</div>
		</div>
	</nav>
	<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>
	<div class="container">
		<div class="row">
			<div class="col-lg-4" th:each="product : ${products}">

				<div class="panel panel-default panel-producto">
					<a th:href="@{/public/product/{id}(id=${product.id})}"
						style="display: none"></a>
					<div class="panel-heading">
						<span th:text="${product.name}">NOMBRE DEL PRODUCTO</span>
					</div>
					<div class="panel-body">
						<img src="http://placehold.it/350x260"
							th:src="${#strings.isEmpty(product.image)} ? 'http://placehold.it/350x260' : ${product.image}"
							class="img-responsive center-block" alt="Image"
							style="height: 300px;">
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6 precio">
								<span class="precio"
									th:text="${#numbers.formatCurrency(product.price)}"></span>
							</div>
							<div class="col-md-6" sec:authorize="isAuthenticated()"
								th:if="${#authentication != null && #authentication.name != product.user.email}">
								<a th:href="@{/app/shopping-cart/add/{id}(id=${product.id})}"
									class="pull-right btn btn-success btn-product"><span
									class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Comprar</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<br>
	<br>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$('.panel-producto').children().not(".panel-footer").click(
							function() {
								window.location = $(this).parent().find("a")
										.attr("href");
								return false;
							});
				});
	</script>


</body>
</html>
