<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<title>Wallapop</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"
	th:href="@{/css/styles.css}">

</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Wallapop</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}">Inicio</a></li>
					<li sec:authorize="isAuthenticated()"><a
						th:href="@{/app/misproductos}">Mis Productos</a></li>
					<li sec:authorize="isAuthenticated()"><a
						th:href="@{/app/miscompras}">Mis Compras</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()"><a
						th:href="@{/app/shopping-cart}"><span
							class="glyphicon glyphicon-shopping-cart"></span> Carrito</a></li>
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/auth/login}"><span
							class="glyphicon glyphicon-user"></span> Login</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"> <span
							th:text="${#authentication == null ? 'Menú' : #authentication.name}">Menú</span>
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a
								href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>

	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-8">
				<div class="col-md-8">
					<img src="https://placehold.it/1200x600?text=SIN%20IMAGEN"
						th:src="${#strings.isEmpty(product.image)} ? 'https://placehold.it/1200x600?text=SIN%20IMAGEN' : ${product.image}"
						class="img-responsive center-block" alt="Image">
				</div>
				<div class="col-md-4">
					<div class="text-center">
						<img
							th:src="${#strings.isEmpty(product.user.avatar)} ? @{http://api.adorable.io/avatars/140/{email}.png(email=${product.user.email})} : ${product.user.avatar}"
							name="aboutme" width="140" height="140" class="img-circle">
						<h5>
							<span th:text="${product.user.name + ' ' + product.user.surname}"></span><br>
							<span th:text="${product.user.email}"></span>
						</h5>
					</div>
					<div>
						<h3 th:text="${product.name}"></h3>
					</div>
					<div class="pull-right">
						<h4>
							<strong th:text="${#numbers.formatCurrency(product.price)}"></strong>
						</h4>
					</div>
					<a th:href="@{/app/shopping-cart/add/{id}(id=${product.id})}"
						type="button" class="btn btn-lg btn-success btn-product"
						sec:authorize="isAuthenticated()"
						th:if="${#authentication.name != product.user.email}">
						<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Comprar
					</a>
				</div>
			</div>

		</div>
	</div>
	<br>
	<br>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>