<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>SecondHandMarket</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="../../../static/css/styles.css"
	th:href="@{/css/styles.css}">

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Wallapop</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active">
						<a th:href="@{/}">Inicio</a></li>
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/my-products}">Mis Productos</a>
					</li>
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/my-purchases}">Mis Compras</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/app/shopping-cart}"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito</a>
					</li>
					<li sec:authorize="!isAuthenticated()">
						<a th:href="@{/auth/login}"><span class="glyphicon glyphicon-user"></span> Login</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
							<span th:text="${#authentication == null ? 'Menú' : #authentication.name}">Menú</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a
								href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>


	<div class="container">
		<div class="row" th:if="${#lists.isEmpty(userPurchases)}">
		<div class="col-md-offset-1 col-md-10">
				<div class="jumbotron">
					<div class="container">
						<h2 class="text-center">Aún no ha realizado ninguna compra</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row" th:unless="${#lists.isEmpty(userPurchases)}">
			<div class="col-md-offset-4 col-md-4">
			<table class="table table-striped">
				<thead>
					<tr>
						<td><strong>ID</strong></td>
						<td><strong>Fecha</strong></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="purchase : ${userPurchases}">
						<td><span th:text="${purchase.id}">1</span>
						<td><span th:text="${#dates.format(purchase.transactionDate,'dd/MMM/yyyy HH:mm')}">10/10/2018 10:10</span></td>
						<td><a th:href="@{/app/purchase/bill/{id}(id=${purchase.id})}" class="btn btn-info">Ver factura</a></td>
					</tr>
				</tbody>
			</table>
			
			
			</div>
		</div>
	</div>
	<br>
	<br>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>




</body>
</html>
